# Part 3 -- Get Target Data (S&P 500)

Get our target data (the S&P 500 index) from the Yahoo Finance website and perform calculations. We want to look at the Adj Close price to determine whether stocks went up/down/neutral compared to the previous day. This will be a **classification model** and we will set our threshold of up/down/neutral to a change of 0.01%.

**Load lib codes**

In [1]:
from os import chdir
chdir('/home/jovyan/work/Portfolio/Analyzing_Unstructured_Data_for_Finance/')

from lib import *
# suppress_warnings()

**Convert strings to datetime and integers so we can perform calculations**

In [2]:
sp500 = pd.read_csv('../Analyzing_Unstructured_Data_for_Finance/data/3.^GSPC.csv')

In [3]:
sp500['Adj Close'][1773]

'null'

In [4]:
def convert_to_datetime_int(df):
    date_list = []
    for d in sp500['Date']:
        date = dt.datetime.strptime(d, '%Y-%m-%d')
        date_list.append(date)
        
    df['Date'] = pd.Series(date_list)
    df['Adj Close'] = pd.to_numeric(df['Adj Close'], errors='coerce', downcast='float')
    return df

In [5]:
convert_to_datetime_int(sp500)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-06-15,942.450012,942.450012,919.650024,923.719971,923.719971,4697880000
1,2009-06-16,925.599976,928.000000,911.599976,911.969971,911.969971,4951200000
2,2009-06-17,911.890015,918.440002,903.780029,910.710022,910.710022,5523650000
3,2009-06-18,910.859985,921.929993,907.940002,918.369995,918.369995,4684010000
4,2009-06-19,919.960022,927.090027,915.799988,921.229980,921.229980,5713390000
5,2009-06-22,918.130005,918.130005,893.039978,893.039978,893.039978,4903940000
6,2009-06-23,893.460022,898.690002,888.859985,895.099976,895.099976,5071020000
7,2009-06-24,896.309998,910.849976,896.309998,900.940002,900.940002,4636720000
8,2009-06-25,899.450012,921.419983,896.270020,920.260010,920.260010,4911240000
9,2009-06-26,918.840027,922.000000,913.030029,918.900024,918.900024,6076660000
10,2009-06-29,919.859985,927.989990,916.179993,927.229980,927.229980,4211760000
11,2009-06-30,927.150024,930.010010,912.859985,919.320007,919.320007,4627570000
12,2009-07-01,920.820007,931.919983,920.820007,923.330017,923.330017,3919400000
13,2009-07-02,921.239990,921.239990,896.419983,896.419983,896.419983,3931000000
14,2009-07-06,894.270020,898.719971,886.359985,898.719971,898.719971,4712580000
15,2009-07-07,898.599976,898.599976,879.929993,881.030029,881.030029,4673300000
16,2009-07-08,881.900024,886.799988,869.320007,879.559998,879.559998,5721780000
17,2009-07-09,881.280029,887.859985,878.450012,882.679993,882.679993,4347170000
18,2009-07-10,880.030029,883.570007,872.809998,879.130005,879.130005,3912080000
19,2009-07-13,879.570007,901.049988,875.320007,901.049988,901.049988,4499440000
20,2009-07-14,900.770020,905.840027,896.500000,905.840027,905.840027,4149030000
21,2009-07-15,910.150024,933.950012,910.150024,932.679993,932.679993,5238830000
22,2009-07-16,930.169983,943.960022,927.450012,940.739990,940.739990,4898640000
23,2009-07-17,940.559998,941.890015,934.650024,940.380005,940.380005,5141380000
24,2009-07-20,942.070007,951.619995,940.989990,951.130005,951.130005,4853150000
25,2009-07-21,951.969971,956.530029,943.219971,954.580017,954.580017,5309300000
26,2009-07-22,953.400024,959.830017,947.750000,954.070007,954.070007,4634100000
27,2009-07-23,954.070007,979.419983,953.270020,976.289978,976.289978,5761650000
28,2009-07-24,972.159973,979.789978,965.950012,979.260010,979.260010,4458300000
29,2009-07-27,978.630005,982.489990,972.289978,982.179993,982.179993,4631290000
...,...,...,...,...,...,...,...
1983,2017-05-01,2388.500000,2394.489990,2384.830078,2388.330078,2388.330078,3199240000
1984,2017-05-02,2391.050049,2392.929932,2385.820068,2391.169922,2391.169922,3813680000
1985,2017-05-03,2386.500000,2389.820068,2379.750000,2388.129883,2388.129883,3893990000
1986,2017-05-04,2389.790039,2391.429932,2380.350098,2389.520020,2389.520020,4362540000
1987,2017-05-05,2392.370117,2399.290039,2389.379883,2399.290039,2399.290039,3540140000
1988,2017-05-08,2399.939941,2401.360107,2393.919922,2399.379883,2399.379883,3429440000
1989,2017-05-09,2401.580078,2403.870117,2392.439941,2396.919922,2396.919922,3653590000
1990,2017-05-10,2396.790039,2399.739990,2392.790039,2399.629883,2399.629883,3643530000
1991,2017-05-11,2394.840088,2395.719971,2381.739990,2394.439941,2394.439941,3727420000
1992,2017-05-12,2392.439941,2392.439941,2387.189941,2390.899902,2390.899902,3305630000
1993,2017-05-15,2393.979980,2404.050049,2393.939941,2402.320068,2402.320068,3473600000
1994,2017-05-16,2404.550049,2405.770020,2396.050049,2400.669922,2400.669922,3420790000
1995,2017-05-17,2382.949951,2384.870117,2356.209961,2357.030029,2357.030029,4163000000
1996,2017-05-18,2354.689941,2375.739990,2352.719971,2365.719971,2365.719971,4319420000
1997,2017-05-19,2371.370117,2389.060059,2370.429932,2381.729980,2381.729980,3825160000
1998,2017-05-22,2387.209961,2395.459961,2386.919922,2394.020020,2394.020020,3172830000
1999,2017-05-23,2397.040039,2400.850098,2393.879883,2398.419922,2398.419922,3213570000
2000,2017-05-24,2401.409912,2405.580078,2397.989990,2404.389893,2404.389893,3389900000
2001,2017-05-25,2409.540039,2418.709961,2408.010010,2415.070068,2415.070068,3535390000
2002,2017-05-26,2414.500000,2416.679932,2412.199951,2415.820068,2415.820068,2805040000
2003,2017-05-30,2411.669922,2415.260010,2409.429932,2412.909912,2412.909912,3203160000
2004,2017-05-31,2415.629883,2415.989990,2403.590088,2411.800049,2411.800049,4516110000
2005,2017-06-01,2415.649902,2430.060059,2413.540039,2430.060059,2430.060059,3857140000
2006,2017-06-02,2431.280029,2440.229980,2427.709961,2439.070068,2439.070068,3461680000
2007,2017-06-05,2437.830078,2439.550049,2434.320068,2436.100098,2436.100098,2912600000
2008,2017-06-06,2431.919922,2436.209961,2428.120117,2429.330078,2429.330078,3357840000
2009,2017-06-07,2432.030029,2435.280029,2424.750000,2433.139893,2433.139893,3572300000
2010,2017-06-08,2434.270020,2439.270020,2427.939941,2433.790039,2433.790039,3728860000
2011,2017-06-09,2436.389893,2446.199951,2415.699951,2431.770020,2431.770020,4027340000
2012,2017-06-12,2425.879883,2430.379883,2419.969971,2429.389893,2429.389893,4027750000

In [6]:
sp500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013 entries, 0 to 2012
Data columns (total 7 columns):
Date         2013 non-null datetime64[ns]
Open         2013 non-null object
High         2013 non-null object
Low          2013 non-null object
Close        2013 non-null object
Adj Close    2012 non-null float32
Volume       2013 non-null object
dtypes: datetime64[ns](1), float32(1), object(5)
memory usage: 102.3+ KB

In [7]:
print(min(sp500['Date']))
print(max(sp500['Date']))

2009-06-15 00:00:00
2017-06-12 00:00:00

# NOTE: Can always change this from a classification model to regression model by using Percent_Change as our target instead of Percent_Change_Class

**We want the <u>PERCENT CHANGE</u> of each stock so that data is normalized. This is especially important if you ever want to compare different stocks/indices.**

In [8]:
def get_change_in_Adj_Close(df):
    df = df.sort(columns='Date')
    df['Diff'] = df['Adj Close'].diff()
    df['Percent_Change'] = (df['Adj Close']-df['Adj Close'].shift(1))/df['Adj Close']
    return df

In [9]:
sp500_df = get_change_in_Adj_Close(sp500)

/opt/conda/lib/python3.5/site-packages/ipykernel_launcher.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [10]:
sp500_df.head(2)

,Date,Open,High,Low,Close,Adj Close,Volume,Diff,Percent_Change
0,2009-06-15,942.450012,942.450012,919.650024,923.719971,923.719971,4697880000,NaN,NaN
1,2009-06-16,925.599976,928.000000,911.599976,911.969971,911.969971,4951200000,-11.75,-0.012884

In [11]:
# Download data and double-check results in Excel to see if calculations were executed correctly
sp500_df.to_csv('../Analyzing_Unstructured_Data_for_Finance/data/3.sp500.csv')

**Note: We will set our threshold to .01% because a threshold of .05% gives us the following distribution, which is a little uneven:**
```
down    1484
up       526
```

In [12]:
# Look at the distribution of Percent_Change to determine what threshold to use
print('min: ', sp500_df['Percent_Change'].min())
print('max: ', sp500_df['Percent_Change'].max())
print('mean: ', sp500_df['Percent_Change'].mean())

print('mode: ', "{0:.10f}".format(round(sp500_df['Percent_Change'],3).mode()[0]))
print('mode: ', "{0:.10f}".format(round(sp500_df['Percent_Change'],5).mode()[0]))

min:  -0.0713916
max:  0.0452612
mean:  0.000419228
mode:  -0.0000000000
mode:  -0.0014800000

In [13]:
# Make threshold .01% (for percent change in daily Close price)
def make_binary(data):
    data_list = []
    for d in data:
        if round(d,5) < 0.001:
            data_list.append('down')
        elif round(d,5) == 0.001:
            data_list.append('neutral')
        elif round(d,5) > 0.001:
            data_list.append('up')
        else:
            data_list.append('n/a')
    return data_list

In [14]:
sp500_df['Percent_Change_Class'] = make_binary(sp500_df['Percent_Change'])

In [15]:
sp500_df['Percent_Change_Class'].value_counts()

down    1062
up       948
n/a        3
Name: Percent_Change_Class, dtype: int64

In [16]:
sp500_df.sample(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Diff,Percent_Change,Percent_Change_Class
1928,2017-02-09,2296.699951,2311.080078,2296.610107,2307.870117,2307.870117,3677940000,13.200195,0.005720,up
65,2009-09-16,1053.989990,1068.760010,1052.869995,1068.760010,1068.760010,6793530000,16.130005,0.015092,up
819,2012-09-12,1433.560059,1439.150024,1432.989990,1436.560059,1436.560059,3641200000,3.000000,0.002088,up
149,2010-01-15,1147.719971,1147.770020,1131.390015,1136.030029,1136.030029,4758730000,-12.429932,-0.010942,down
1588,2015-10-05,1954.329956,1989.170044,1954.329956,1987.050049,1987.050049,4334490000,35.690063,0.017961,up

In [17]:
sp500_df.shape

(2013, 10)

In [18]:
joblib.dump(sp500_df, '../Analyzing_Unstructured_Data_for_Finance/data/3.sp500_df.pickle')

['../Analyzing_Unstructured_Data_for_Finance/data/3.sp500_df.pickle']